#sort_left_wrapper
{
    position: absolute;
    left: -190px;

    width: 200px;
    height: 100vh;

    background-color: #FF6060;

    transition: 0.3s all;

    padding: 10px;
    z-index: 50;
}

#sort_left_wrapper:hover
{
    left: 0px;
}

#search
{
    margin-bottom: 20px;
}

#sort_left
{
    display: flex;
    flex-direction: column;
}

button
{
    cursor: pointer;
}

#sort_top_wrapper
{
    background-color: #D9D9D9;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 70px;

    padding-left: 15px;
}

#sort_type
{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 25px;
}

#sort_top_type
{
    font-size: 25px;
    margin-left: 20px;
}

#sort_arrow_buttons
{
    display: flex;
}

#sort_arrow_buttons button:first-child
{
    margin-right: 5px;
}

.sort_top_buttons
{
    background-repeat: no-repeat;
    background-position: center;

    border: 0px;
}

.arrows
{
    background-image: url(../img/arrow-down.svg);
    
    background-color: #888888;
    
    background-size: 25px;
    
    width: 50px;
    height: 50px; 
}

.chosed
{
    border: 3px solid green;
}

#sort_bottom_arrow
{
    transform: rotate(180deg);
}

#main_content_wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #C4C4C4;
}

#figures
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.figure
{
    background-color: #FFFFFF;
    
    margin: 15px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figure a
{
    font-size: 30px;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.figure a:first-child
{
    position: relative;
}

.figure_image
{
    width: 100%;
    height: 100%;

    position: absolute;

    left: 0px;
    top: 0px;

    transition: 0.5s;

    background-image: url(../img/max.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 4;
}

.figure_image_sepcs_wrapper
{
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 10;
}

.figure_specs
{
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    color: #FFFFFF;

    padding: 20px;
    font-size: 15px;
    transition: 0.5s;

    background-color: rgba(0, 0, 0, 0);
    
    z-index: 5;
}

.figure_image_sepcs_wrapper:hover .figure_image
{
    filter: blur(10px);
}

.figure_image_sepcs_wrapper:hover .figure_specs
{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);

}

.figure_rating
{
    display: flex;
    flex-direction: row;

    cursor: pointer;
}

.rating_star
{
    width: 30px;
    height: 30px;
    
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

.gold_rating_star
{
    background-image: url(../img/star-gold.png);
}

.grey_rating_star
{
    background-image: url(../img/star-grey.png);
}