header
{
    background-color: #723737;

    padding: 40px;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a
{
    background-color: #C4C4C4;
    padding: 20px;
    text-transform: uppercase;
}

#profile_header
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#profile_header img
{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

#profile_header > p
{
    font-size: 30px;
    margin-left: 10px;
}

#triangle
{
    width: 0; 
    height: 0;
    
    margin-left: 5px;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #C4C4C4;
}

@media screen and (max-width: 610px)
{
    header
    {
        display: flex;
        flex-direction: column;
    }

    header div
    {
        display: flex;
        flex-direction: column;
    }
}