.messagebox
{
    position: absolute;

    bottom: 20px;
    left: 500px;
    
    display: block;
    text-align: center;

    background-color: yellow;
}

.messagebox p
{
    margin: 50px;
    font-size: 20px;
}